@model Jubilations.Models.User
<link href="~/Design/Login/BL.css" rel="stylesheet" />



<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="~/image/businessform/bg.jpg" alt="wedding">
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <h2>Business registration form</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Owner Name :</label>
                                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control", @type = "text", required = "required" } })
                            </div>
                            <div class="form-group">
                                <label for="father_name">Business Name :</label>
                                @Html.EditorFor(model => model.User_ShopName, new { htmlAttributes = new { @class = "form-control", @type = "text", required = "required" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Business Address :</label>
                            @Html.EditorFor(model => model.User_Address, new { htmlAttributes = new { @class = "form-control", @type = "text", required = "required" } })
                        </div>
                        <div class="form-group">
                            <label for="pincCategoryode">GST NO :</label>
                            @Html.EditorFor(model => model.User_GSTNO, new { htmlAttributes = new { @class = "form-control", @type = "number", required = "required" } })
                        </div>
                        @*<div class="form-row">

                <div class="form-group">
                    <label for="city">  :</label>
                    <div class="form-select" required>
                        <select name="city" id="city">
                            <option value="">Select category</option>
                            <option value="losangeles">Venue</option>
                            <option value="washington">Photographer</option>
                            <option value="losangeles">Decorator</option>
                            <option value="losangeles">Cateers</option>
                            <option value="losangeles">Makeup Artist</option>
                            <option value="losangeles">Mahendi Artist</option>
                            <option value="losangeles">Cloth Studio</option>
                            <option value="losangeles">DJ Rocks</option>
                            <option value="losangeles">Cards</option>
                            <option value="losangeles">Transport</option>
                        </select>
                        <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City :</label>
                    <div class="form-select" required>
                        <select name="city" id="city">
                            <option value="">Select City</option>
                            <option value="losangeles">Surat</option>
                            <option value="washington">Ahmedabad</option>
                            <option value="losangeles">Vadodara</option>
                            <option value="losangeles">Bardoli</option>
                        </select>
                        <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                </div>
            </div>*@


                <div class="form-group">
                    <label for="email">Email ID :</label>
                    @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", @type = "email", required = "required" } })
                </div>
                <div class="form-group">
                    <label for="phone">Phone No. :</label>
                    @Html.EditorFor(model => model.User_PhoneNo, new { htmlAttributes = new { @class = "form-control", @type = "number", required = "required" } })
                </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="password">Password :</label>
                                @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @type = "password", required = "required" } })

                            </div>
                            <div class="form-group">
                                <label for="c_password">Confirm Password :</label>
                                @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter your Password", required = "required" } })
                            </div>
                        </div>
                        <div class="form-submit">
                            <span>
                                <input type="submit" value="Register" class="submit" id="submit" />
                            </span>
                        </div>
                    }
                    </form>
            </div>
        </div>
    </div>

</div>

