@model Jubilations.Models.Vender_CatalogModel

@{
    Layout = "~/Views/Layout/_V_adminLayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>V_Catelog_Create</title>
</head>
<body>
    @using (Html.BeginForm("V_Catelog_Create", "V_admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Vender_Catalog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.User_Id, "User_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_Id", (IEnumerable<SelectListItem>)ViewBag.UserId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category_Id, "Category_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Category_Id", (IEnumerable<SelectListItem>)ViewBag.CategoryId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Services_Id, "Services_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Services_Id", (IEnumerable<SelectListItem>)ViewBag.ServiceList, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Services_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Product_image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Product_image, "", new { @type = "file", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.Product_image, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>*@

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-10">

            Available: @Html.RadioButtonFor(model => model.Status, "Available", new { @id = "Gender", @name = "Gender", @type = "radio", @value = "Available" })
            <br />
            Not Available: @Html.RadioButtonFor(model => model.Status, "Not Available", new { @id = "Gender", @name = "Gender", @type = "radio", @value = "Not Available" })
        </div>
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Create_Date, new { htmlAttributes = new { @class = "form-control", @Value = System.DateTime.Now } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "V_Catelog")
    </div>
</body>
</html>
