@model IEnumerable<Jubilations.Models.Aboutus>
@{
    ViewBag.Title = "A_Aboutus";
    Layout = "~/Views/Layout/_A_adminLayoutPage.cshtml";
}

<br />
<br />
<br />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">About us DataTable</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@Html.ActionLink("Id", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("title", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("description", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        @*<th>@Html.ActionLink("Slogan1", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("Slogan2", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("Slogan3", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>*@
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.aboutId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.description)
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.Slogan1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Slogan2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Slogan3)
                                                </td>*@
                                                <td>
                                                    @Html.ActionLink("Edit", "A_Aboutus_Edit", new { aboutId = item.aboutId })
                                                    @*@Html.ActionLink("Delete", "Delete", new { Addressid = item.aboutId })*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                @*<tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>title</th>
                                        <th>description</th>
                                        <th>Slogan1</th>
                                        <th>Slogan2</th>
                                        <th>Slogan3</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>*@
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->