@model Jubilations.Models.AboutUsModel
@{
    ViewBag.Title = "A_Aboutus";
    Layout = "~/Views/Layout/_A_adminLayoutPage.cshtml";
}

<br />
<br />
<br />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">About us DataTable</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@Html.ActionLink("Id", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("title", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("description", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        <th>@Html.ActionLink("Pictures", "A_Aboutus", "A_admin", new { area = "" }, new { @class = "" })</th>
                                        
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.aboutusList.Count > 0)
                                    {
                                        foreach (var item in Model.aboutusList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.aboutId)
                                                </td>
                                                <td>
                                                    @if (item.title != null)
                                                    {
                                                        @Html.DisplayFor(modelItem => item.title)
                                                    }
                                                </td>
                                                <td>

                                                    @if (item.description != null)
                                                    {
                                                    @Html.DisplayFor(modelItem => item.description)
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ImagePath != null)
                                                    {
                                                        <img src="@item.ImagePath" style=" width:100px; height:auto; "/>
                                                    }
                                                </td>
                                                
                                                <td>
                                                    @Html.ActionLink("Edit", "A_Aboutus_Edit", new { aboutId = item.aboutId })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->